body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-color: #cedbeb;
}
h1, h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}
.search-bar {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    margin-bottom: 20px;
    padding: 10px;
    background: #84bdff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.mm2 {
    background-color: rgb(189, 189, 4);
}
.search-bar label {
    font-weight: bold;
    color:black;
    display: flex;
    align-items: center;
}
.search-bar input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: border-color 0.3s;
}
.search-bar input:focus {
    border-color: #4CAF50;
    outline: none;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.2);
}

.blue {
    background: #84bdff;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}
th, td {
    padding: 12px;
    text-align: center;
}
td {
    font-weight: bolder;
}
th {
    background-color: #4CAF50;
    color: white;
}
tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}
tbody tr:hover {
    background-color: #f1f1f1;
}
@media (max-width: 768px) {
    .search-bar {
        grid-template-columns: 1fr;
    }
}